/* Les paramètres généraux */

body 
{
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px;
    padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;
    color: #404040;
}
.conteneur
{
    display: flex;
}

a
{
    color: #404040;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

i
{
    color: #feca07;
    padding-right: 1%;
    padding-left: 1%;
}

#i-exception{
    color: black;
}

img{
    margin-top: 5%;
    width: 75%;
    border: none;
    border-radius : 50%;
    image-orientation: 0deg;
}

/* La partie gauche de la page */

.contact-section > header
{
    height : 100%;
    text-align: center; 
    width: 100%;
}


.partie-gauche
{
    background-color: #feca07;
    width: 25%;
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
}
.partie-gauche > header > div
{
    text-align: center;
    padding-top: 3%;
}

.fond-gris
{
    padding: 0px;
    text-align: center;
    background-color: #404040;
    color: #feca07;;
    width: 100%;
}

.partie-gauche > section > p, .contact-section > div
{
    font-size: 90%;
    padding: 3%;
}

.a-propos
{
    height: 120%;
    padding: 10%;
}

.img-div
{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5%;
}


/*Et la partie droite*/

.partie-droite
{
    background-color: white;
    width: 100%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3.5%;
    height: 100%;
}

h1
{
    font-size: 275%;
    font-family: Verdana;
    font-weight: lighter;
}

.mettre-en-jaune
{
    font-family: Verdana;
    font-weight: lighter;
    color: #feca07;
}

.attribut 
{
    margin-left: 0.5%;
    font-size: 160%;
    font-weight: 600;
}
.attribut-exception
{
    text-decoration: underline;
    text-decoration-color: #feca07;
}

.titre-section
{
    font-size: 150%;
    font-family: Verdana;
    font-weight: bolder;
    display: inline;
}

hr
{
    background-color: #feca07;
    border: none;
    height: 3px;
    width: 100%;
}

.section-div
{
    display: flex;
    justify-content: space-between;
}

.p-table
{
    width: 100%;
}

.nom-table
{
    font-size: large;
    font-weight: bolder;
}

.description-table
{
    width: 20%;
    vertical-align: top;
}

.mettre-en-gras
{
    font-weight: bolder;
}

.ul-exception {
    list-style-image: url("images/dot-circle-regular.svg");
    color: black;
}

ul{
    list-style-type: disc;
    color: #feca07;
}

.texte-exception{
    color: black;
}

.a-mettre-en-gras{
    font-weight: bolder;
}


@media screen and (max-width: 640px)
{
    tr{
        display: flex;
        flex-direction: column;
    }
    .description-table
    {
        width: 100%;
    }
    .conteneur{
        flex-direction: column;
    }
    .partie-gauche{
        width: 100%;
        min-width: 100%;
    }
    .partie-droite{
        padding: 0%;
    }
    .titre-section{
        font-size: 125%;
    }
}